* {
  margin: 10px 10px;
  padding: 0;
  box-sizing: border-box;
}

.css-input {
  padding: 8px;
  font-size: 22px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}
.css-input:focus {
  outline: none;
}
